## Intellij IDEA stuff:
.idea/
*.ipr
*.iws
*.iml

# Eclipse stuff
.project

# Gradle stuff
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
